node_modules/

# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# Variables de entorno
.env
.env.local
.env.cloud

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db