dj-database-url==3.0.1
gunicorn==23.0.0
whitenoise==6.11.0

# # Para PostgreSQL (CLOUD)
psycopg2-binary==2.9.11

# Para la Raspberry PI (LOCAL)
Django==5.2.8
djangorestframework==3.16.1
python-decouple==3.8
requests==2.32.5
pyserial==3.5  # Para leer Arduino