{% extends "base.html" %}
{% block content %}
<div class="h-full flex flex-col p-4 overflow-hidden">
    <section class="flex justify-between shrink-0 mb-4 border border-gray-300 p-4 bg-white rounded-lg items-center">
        <span class="font-semibold text-lg">Sectores</span>
        <a href="{% url 'sector_create' %}">
            <button
                class="shadow-md shadow-gray-400 rounded-xl text-sm flex items-center gap-2 bg-blue-600 text-white hover:bg-blue-500 active:bg-blue-700 px-3 py-2 transition-transform active:scale-95">
                <i class="fa-solid fa-plus"></i>
                Añadir
            </button>
        </a>
    </section>

    {% if sectores %}
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 overflow-auto">
        {% for sector in sectores %}
        <article class="border border-gray-300 rounded-lg p-4 shadow-sm h-fit flex justify-between items-start bg-white">
            <div class="flex flex-col">
                <h2 class="text-lg font-semibold mb-2">Sector {{ sector.id }}</h2>
                <p class="text-sm text-gray-600 mb-1">Latitud: {{ sector.latitud }}</p>
                <p class="text-sm text-gray-600">Longitud: {{ sector.longitud }}</p>
            </div>
            <a href="{% url 'sector_detail' sector.id %}" class="p-0.5 flex gap-2 text-blue-600 items-center transition-transform active:scale-95 hover:scale-105 ">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                Detalles
            </a>
        </article>
        {% endfor %}
    </section>
    {% else %}
    <div class="flex-1 flex items-center justify-center text-gray-500">
        <div class="text-center">
            <i class="fa-solid fa-map-pin text-4xl mb-2"></i>
            <p>No hay sectores creados</p>
        </div>
    </div>
    {% endif %}
</div>

{% if toast %}
<script>
    sessionStorage.setItem('toast_mensaje', '{{ toast|escapejs }}');
    sessionStorage.setItem('toast_tipo', '{{ toast_tipo }}');
    // Limpiar URL sin recargar la página
    window.history.replaceState({}, document.title, window.location.pathname);
</script>
{% endif %}
{% endblock %}